# Q1) Variables containing different datatypes:

In [41]:
#Ans:
ch = "apple" 
L = ["Earth",234.56,78]
f = 576.98 
t = (5,9,"a","B")
for i in [ch,L,f,t]:
    print(i)

apple
['Earth', 234.56, 78]
576.98
(5, 9, 'a', 'B')

# Q2) Datatypes of given variables using type() function

In [42]:
#Ans:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
for i in [var1,var2,var3,var4]:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

# Q3) Use of the following operators using an example

## Ans:
    a) / -It is the division operator that divides the first operand by the second.
    
    b) % -It is the modulus operator which returns the remainder value after the division operation. 
    
    c) // -It is the floor division operator that returns the floor of the quotient when the first operand is divided by the second operand.
    
    d) ** -It is the exponentiation operator used to raise the first operand to the power of second operand.

In [43]:
#code
a=55/7
b=678%5
c=56//7
d=5**8
for i in [a,b,c,d]:
    print(i)

7.857142857142857
3
8
390625

# Q4) Create a list of length 10 of your choice containing multiple types of data. Using for loop, print the element and its data type.

In [44]:
#code:
Lt=["mango",235,78.09,"THOMAS",True,72+543j,[45],False,{56},{1:"harry",2:"Joy"}]
for i in Lt:
    print(i,end=",")
    print(type(i))

mango,<class 'str'>
235,<class 'int'>
78.09,<class 'float'>
THOMAS,<class 'str'>
True,<class 'bool'>
(72+543j),<class 'complex'>
[45],<class 'list'>
False,<class 'bool'>
{56},<class 'set'>
{1: 'harry', 2: 'Joy'},<class 'dict'>

# Q5) Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [46]:
#code:
A=int(input("Enter value of A:"))
B=int(input("Enter value of B:"))
count=0 #count tracker

while (A%B==0) and B!=0:
      count=count+1
      A //= B  #repeatedly divides as long as the remainder is zero
      
if B!=0:
      print("No. of times A is divisible by B is=",count)
else:
      print("A cannot be divided by zero")

Enter value of A: 16
Enter value of B: 4

No. of times A is divisible by B is= 2

# Q6)Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [47]:
#Code:
L=[23,456,57,56,78,32,12345,5690,8745,59,87,91,2900,72,38,27,1,3,1156,456788,985342,334,222,111,8554]
print("length of list:",len(L))
for i in L:
    if i%3==0:
        print(i,"is divisible by 3",end="\n")
    else:
        print(i,"not divisible by 3",end="\n")

length of list: 25
23 not divisible by 3
456 is divisible by 3
57 is divisible by 3
56 not divisible by 3
78 is divisible by 3
32 not divisible by 3
12345 is divisible by 3
5690 not divisible by 3
8745 is divisible by 3
59 not divisible by 3
87 is divisible by 3
91 not divisible by 3
2900 not divisible by 3
72 is divisible by 3
38 not divisible by 3
27 is divisible by 3
1 not divisible by 3
3 is divisible by 3
1156 not divisible by 3
456788 not divisible by 3
985342 not divisible by 3
334 not divisible by 3
222 is divisible by 3
111 is divisible by 3
8554 not divisible by 3

# Q7) What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Ans:
     a)Mutable Datatypes:- Mutability means that in the same memory address,new value can be stored.The mutable types are those whose values can be changed.Only 3 types of data type are mutable in python.These are lists,dictionaries and sets.

In [48]:
#example
ch=[2,4,5]
print(ch)
ch[1]=7
print(ch)

[2, 4, 5]
[2, 7, 5]

    b)Immutable Datatypes:-The immutable types are those that can never change their value in place.In python,the following are immutable datatypes : integers,floats,booleans,strings,tuples.
    In immutable types,the variable names are stored as references to a value-object.Each time we change the value ,the variable's reference memory address changes.

In [49]:
#example
p=5
q=p
r=5
print(p,q,r) #having same value object

p=10
r=7
q=r
print(p,q,r) #Variable's reference memory address changes

5 5 5
10 7 7